    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font: 14px/1.5 Arial, Helvetica, sans-serif;
    }
    
    body {
        background-color: #312244;
    }
    
    h3 {
        font-size: 20px;
        font-family: 'Chakra Petch', sans-serif;
        color: white;
    }
    
    h1 {
        font-size: 20px;
        font-family: 'Chakra Petch', sans-serif;
        color: white;
        margin: 10px auto;
        text-align: center;
    }
    
    p {
        font-size: 15px;
        font-family: 'Chakra Petch', sans-serif;
        color: white;
        margin-bottom: 10px;
    }
    
    #quiz {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 15%;
        box-shadow: 1px 1px 1px 1px grey;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        /* display: none; */
    }
    
    #options .opt {
        width: 100%;
        height: 30px;
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    input[type="radio"] {
        align-self: center;
        float: left;
        margin-top: 3px;
    }
    
    label {
        font-size: 13px;
        font-family: 'Chakra Petch', sans-serif;
        color: #5e6472;
        float: left;
        align-self: center;
        margin-left: 10px;
    }
    
    .answer {
        accent-color: blueviolet;
    }
    
    #home {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #5e6472;
        border-radius: 15%;
        box-shadow: 1px 1px 1px 1px grey;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* display: none; */
    }
    
    #userID {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #5e6472;
        border-radius: 15%;
        box-shadow: 1px 1px 1px 1px grey;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* display: none; */
    }
    
    #BACK {
        appearance: none;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: -40px;
    }
    
    #BACK span {
        color: white;
        font-size: 1.2rem;
    }
    
    #score {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #5e6472;
        border-radius: 15%;
        box-shadow: 1px 1px 1px 1px grey;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* display: none; */
    }
    
    #return {
        appearance: none;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    
    #return span {
        color: white;
        font-size: 1.2rem;
    }
    
    #userID input {
        border: none;
        outline: none;
        font-family: 'Chakra Petch', sans-serif;
    }
    
    #container {
        /* background-color: white; */
        width: 250px;
        /* height: 40px; */
        /* margin: 75px auto 40px auto; */
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        /* border: 1px solid wheat; */
    }
    
    #question-container {
        width: 100%;
        height: 100px;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #5e6472;
        color: white;
        margin-bottom: 20px;
    }
    /* #time {
        margin: 10px auto;
        text-align: center;
        border: 1px solid white;
        width: 60px;
        border-radius: 10px;
        color: white;
    } */
    
    #question-container p {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
    }
    
    #options {
        width: 260px;
        height: 150px;
        margin: auto;
        position: relative;
        overflow: hidden;
        background-color: white;
        color: #5e6472;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    table {
        /* background-color: white; */
        width: 250px;
        /* height: 40px; */
        margin: 15px auto 40px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        font-family: 'Chakra Petch', sans-serif;
        color: white;
        /* border: 1px solid wheat; */
    }
    
    th,
    tbody {
        /* background-color: white; */
        /* width: 250px; */
        /* height: 40px; */
        /* margin: auto; */
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        font-family: 'Chakra Petch', sans-serif;
        color: white;
        /* border: 1px solid wheat; */
    }
    /* th {
    column-span: 2;
} */
    
    #button-container {
        /* border: 1px solid brown; */
        width: 80%;
        margin: 35px auto auto auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        gap: 3px;
        padding: 2px;
    }
    
    button {
        width: 80px;
        height: 30px;
        text-align: center;
        align-self: center;
        justify-self: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: white;
        border: none;
        border-radius: 5px;
        color: #5e6472;
        font-family: 'Chakra Petch', sans-serif;
    }
    
    #submit {
        text-align: center;
        justify-self: center;
        bottom: 0;
        left: 50%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px auto 0 auto;
        position: absolute;
        transform: translate(-50%, -10%);
        background-color: #5e6472;
        color: white;
    }
    
    @media(min-width: 760px) {
        #quiz,
        #home,
        #userID,
        #score {
            width: 450px;
            height: 450px;
        }
        table {
            width: 400px;
        }
        th {
            /* width: 300px; */
            column-span: 3;
        }
        #button-container {
            grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
            gap: 7px;
        }
        #question-container {
            width: 100%;
            height: 150px;
        }
        #submit {
            font-size: 15px;
        }
        #return {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 30px;
            margin-top: 30px;
            margin-bottom: -10px;
        }
        #options {
            height: 200px;
        }
        #option .opt {
            height: 50px;
            margin-bottom: 10px;
            padding: 8px;
        }
        label {
            font-size: 14px;
        }
        /* #container {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } */
    }