* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
}

h2 {
    text-align: center;
    font-size: 18px;
}

#Home {
    background-color: #ffff;
    display: none;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
}

#myname,
#mymail {
    margin: 3px 0px;
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 15px;
    padding: 3px 0;
    color: blueviolet;
    overflow: hidden;
}

label {
    font-size: 17px;
    color: blueviolet;
    font-weight: 500;
    overflow: hidden;
}

#enter {
    padding: 3px 2px;
    font-size: 15px;
    width: 70px;
    margin-top: 5px;
    justify-self: center;
    align-self: center;
    background-color: white;
    color: gray;
    border-radius: 4px;
    border: 2px solid #354f52;
    outline: none;
    font-weight: bold;
    overflow: hidden;
}

#enter:hover {
    border: none;
    color: blueviolet;
    border-bottom: 1px solid gray;
    transition-duration: 1s;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    font-weight: bold;
}

#Todo {
    width: 95%;
    background-color: #ffff;
    margin: 30px auto;
    border: 1px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

#top {
    width: 100%;
    border: 1px solid green;
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); */
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    /* border: none; */
}

#details {
    width: 100%;
    height: 100px;
    border: 1px solid #354f52;
    padding: 10px;
}

#addNew {
    width: 100%;
    height: 150px;
    border: 1px solid #0081a7;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

#addItem {
    margin-top: 30px;
    /* margin-left: 20px; */
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    margin-bottom: 2px;
    padding: 5px;
    color: white;
    color: blueviolet;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid gray;
}

input[type="text"]::placeholder {
    color: blueviolet;
}

button span {
    border: 1px solid #354f52;
    border-radius: 5px;
    margin-top: 5px;
}

#tasks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: darkolivegreen; */
    /* grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 5px; */
    border: 1px solid purple;
}

#tasks-Todo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 5px;
}

@media(min-width: 760px) {
    #myname,
    #mymail {
        width: 300px;
    }
    #top {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #details,
    #addNew {
        width: 45%;
    }
}