* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
}

h2 {
    text-align: center;
    font-size: 18px;
}

#Home {
    background-color: #ffff;
    display: none;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
}

#myname,
#mymail {
    margin: 3px 0px;
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 15px;
    padding: 3px 0;
    color: blueviolet;
    overflow: hidden;
}

label {
    font-size: 17px;
    color: blueviolet;
    font-weight: 500;
    overflow: hidden;
}

#enter {
    padding: 3px 2px;
    font-size: 15px;
    width: 70px;
    margin-top: 5px;
    justify-self: center;
    align-self: center;
    background-color: white;
    color: gray;
    border-radius: 4px;
    border: 2px solid #354f52;
    outline: none;
    font-weight: bold;
    overflow: hidden;
}

#enter:hover {
    border: none;
    color: blueviolet;
    border-bottom: 1px solid gray;
    transition-duration: 1s;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    font-weight: bold;
}

#Todo {
    width: 95%;
    background-color: #ffff;
    margin: 30px auto;
    border: 1px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

#top {
    width: 100%;
    border: 1px solid green;
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); */
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    /* border: none; */
}

#details {
    width: 100%;
    height: 100px;
    border: 1px solid #354f52;
    padding: 10px;
}

#addNew {
    width: 100%;
    height: 150px;
    border: 1px solid #0081a7;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

#addItem {
    margin-top: 30px;
    /* margin-left: 20px; */
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    margin-bottom: 2px;
    padding: 5px;
    color: white;
    color: blueviolet;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid gray;
}

input[type="text"]::placeholder {
    color: blueviolet;
}

.add-item-btn {
    border: 1px solid #354f52;
    border-radius: 5px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#tasks-container {
    width: 100%;
    /* height: 600px; */
    display: grid;
    /* flex-direction: column; */
    /* background-color: darkolivegreen; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    border: 1px solid purple;
}

.Taskcard {
    background-color: #6d6875;
    padding: 5px;
    margin: 10px auto;
    width: 220px;
    height: 235px;
    color: white;
    border-radius: 8px;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.Taskcard h4 {
    text-align: center;
    border-bottom: 1px solid burlywood;
    width: 90px;
    margin: auto;
    font-size: 17px;
    opacity: 1;
}

.Taskcard label {
    font-size: 14px;
}


/* .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task input[type="checkbox"] {
    margin-right: 10px;
} */

.Taskcard:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(2px);
}

.Taskcard .change {
    opacity: 0;
    position: absolute;
    top: 20%;
    right: 5%;
    width: 60px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    z-index: 1900;
    background: transparent;
    padding: 3px;
    /* border: 1px solid red; */
}

.Taskcard:hover .change {
    opacity: 1;
}

#del-btn,
#add-task-btn {
    width: 20px;
    color: white;
    /* font-size: 14px; */
    font-weight: bold;
    /* text-shadow: 1px 1px #000; */
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    background: transparent;
}

@media(min-width: 760px) {
    #myname,
    #mymail {
        width: 300px;
    }
    #top {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #details,
    #addNew {
        width: 45%;
    }
}