    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font: 14px/1.5 Arial, Helvetica, sans-serif;
    }
    
    body {
        background-color: white;
    }
    
    #container {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #d8e2dc;
        border-radius: 35%;
        box-shadow: 1px 1px 1px 1px grey;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    #output {
        background-color: white;
        width: 140px;
        height: 40px;
        margin: 75px auto 40px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        /* border: 1px solid wheat; */
    }
    
    #frame {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    }
    
    #frame * {
        font-size: 25px;
        font-family: 'Share Tech Mono', monospace;
    }
    
    #button-container {
        /* border: 1px solid brown; */
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
        gap: 3px;
        padding: 2px;
    }
    
    button {
        width: 60px;
        height: 30px;
        text-align: center;
        align-self: center;
        justify-self: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #8e9aaf;
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    @media(min-width: 760px) {
        #container {
            width: 300px;
            height: 300px;
        }
        #output {
            width: 180px;
            margin: 95px auto 60px auto;
        }
        #button-container {
            grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
            gap: 7px;
        }
    }